// Main stylesheet file 

// variables 

$default-section-content-width: 80%;
$violet-color: #2B2650;
$blue-color: #1F50AF;

// general styles 
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat; 
}
h2 {
    font-size: 48px;
    padding: 0;
    margin: 0 0 20px 0;
    color: $blue-color;
}
input:focus {
    outline: none;
}
.page-section {
    margin: 150px 0;
    .section-content {
        width: $default-section-content-width;
        margin: 0 auto;
    }
}
.center-text {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn {
    border: none;
    padding: 19px 40px;
    color: $blue-color;
    letter-spacing: 0.03em;
    font-size: 16px;
    font-weight: 700;
    background: #FFFFFF;
    border-radius: 40px;
    cursor: pointer;
    text-transform: uppercase;
}

// Page land styles 

.page-land {
    margin-top: 0;
    position: relative;
    height: 100vh;
    background-image: url('../assets/page-land.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    .site-header {
        width: 100%;
        display: flex;
        align-items: center;
        padding-top: 80px;
        .site-logo {
            flex: 1;
        }
        .site-nav {
            display: flex;
            flex: 1;
            ul {
                width: 100%;
                display: flex;
                list-style-type: none;
                justify-content: space-around;
                li a {
                    font-size: 16px;
                    font-weight: 700;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                li {
                    display: flex;
                    align-items: center;
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        top: 0;
                      }
                      a {
                          &:hover {
                              text-decoration: underline;
                          }
                      }
                      &.dropdown-li {
                          position: relative;
                          a {
                            &:hover {
                                text-decoration: none;
                            }
                          }
                          &:hover {
                              .dropdown-content{
                                padding-top: 25px;
                                display: flex;
                                flex-direction: column;
                                a {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: white;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    padding: 12px 0;
                                    &:hover {
                                        color: #AAA;
                                    }
                                }
                              }
                          }
                      }
                }
                li img {
                    padding-left: 5px;
                    width: 12px;
                    height: 6px;
                }
            }
        }
    }
    .page-land-content {
        margin-top: 200px;
        width: 70%;
        margin-left: 15%;
        text-align: center;
        h1 {
            font-size: 72px;
            line-height: 90px;
        }
        .btn {
            transition-duration: 230ms;
            &:hover {
                background: #E3EDFF;
                transition-duration: 230ms;
            }
        }
    }
    .arrow-down-wrapper {
        display: flex;
        position: absolute;
        bottom: 68px;
        justify-content: center;
        width: 100%;
        left: 0;
    }
    .language-switcher {
        position: absolute;
        top: 60px; 
        right: 120px;
        .active-language {
            text-decoration: underline;
        }
        p a {
            color: white;
            font-weight: bold;
            font-size: 16px;
            text-decoration: none;
        }
    }
}

// About us styles 

.about-us {
    margin-bottom: 300px;
    .section-content {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .photo-absolute {
        position: absolute;
        left: 250px;
        top: 250px;
    }
    .about-us-content {
        padding-left: 50px;
        position: relative;
        p {
            color: #3D3D3D;
            font-weight: 500;
            line-height: 25px;
            font-size: 18px;
        }
        .btn {
            color: white;
            background: #0E337B;
            position: absolute;
            bottom: 0;
            transition-duration: 230ms;
            &:hover {
                background: #0D295F;
                transition-duration: 230ms;
            }
        }
    }
}

// Partners styles 

.our-partners {
    margin-top: 0;
    .section-content {
        position: relative;
        width: 100%;
        margin: 0;
    }
    .fence-man-1 {
        position: relative;
        left: 1100px;
    }
    h2 {
        font-size: 48px;
        text-align: center;
    }
    .partners {
        .content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: $default-section-content-width;
            margin: 0 auto;
        }
        background: #E9F0FF;

        padding: 50px 0;
    }
}

// Quote styles 

.fence-quote {
    background-image: url('../assets/quote-bg.png');
    background-size: cover;
    padding: 150px 0;
    .section-content {
        position: relative;
    }
    h2 {
        width: 75%;
        margin: auto; 
    }
}

// Video styles 

.video {
    min-height: 800px;
    margin-bottom: 0;
    .fb-video {
        width: 100%;
    }
}

// Trial registration styles 

.trial-registration {
    margin-bottom: 0;
    background: rgba(121, 148, 218, 0.7);
    background-image: url('../assets/quote-bg.png');
    .section-content {
        position: relative;
    }
    .fence-man-2 {
        position: absolute;
        top: 100px;
        left: 50px;
    }
    h2 {
        margin: 30px 0;
        color: white;
    }
    .trial-registration-form {
        width: 30%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        input {
            margin: 15px 0;
        }
        input[type=text], input[type=email],input[type=tel] {
            padding: 20px;
            box-shadow: 4px 0 4px rgba(0, 0, 0, 0.15);
            border: none;
            border-radius: 10px;
        }
        input[type=submit] {
            width: 50%;
            margin: 50px auto;
        }
        .btn {
            color: #0E337B;
            font-weight: 700;
            font-size: 18px;
        }
    }
}

// Footer styles 

.site-footer {
    background: #E5E5E5;
    .section-content {
        width: 80%;
        padding: 150px 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
        .site-logo {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            img {
                margin-bottom: 15px;
            }
            a {
                padding: 0px 0;
                color: $blue-color;
                text-decoration: none;
                justify-self: flex-end;
            }
        }
        .site-nav {
            display: flex;
            flex: 1;
            ul {
                width: 100%;
                display: flex;
                list-style-type: none;
                justify-content: space-around;
                li a {
                    font-size: 16px;
                    font-weight: 700;
                    color: $blue-color;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                li {
                    display: flex;
                    align-items: center;
                    &.dropdown-li {
                        position: relative;
                        .dropdown-content {
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            min-width: 160px;
                            z-index: 1;
                            top: 30px;
                            a {
                                font-size: 12px;
                                padding: 12px 0;
                            };
                        }
                    }
                }
                li img {
                    padding-left: 5px;
                    width: 12px;
                    height: 6px;
                }
            }
        }
}